.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 80%;
  margin: auto;
}

.restaurant-card {
  flex: 1 1 calc(25% - 40px); /* 4 cards per row with space for padding/gap */
  margin: 10px; /* Adds space between cards */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.shimmer-restaurant-image,
.shimmer-title,
.shimmer-para {
  background: #e0e0e0; /* Light gray background for the shimmer effect */
  border-radius: 4px;
}

.shimmer-restaurant-image {
  width: 100%;
  height: 200px; /* Adjust height as needed */
}

h2 {
  height: 24px;
  margin: 10px 0;
}

p {
  height: 16px;
  margin-bottom: 10px;
}

.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2) 25%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.2) 75%
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
