// Color Variables
$light-yellow: #f9d97c;
$dark-mustard: #f4b636;
$text-color: #333;
$link-color: #fff;
$link-hover-color: #333;

// Font Variables
$primary-font: "Poppins", sans-serif;
$title-font: "Pacifico", sans-serif;
